{% extends 'base.html.twig' %} {% block title %}Hello !{% endblock %} {% block
body %}


<div class="index d-flex justify-content-center">
<div class="index-title">
  <p class="index-title__text">Bienvenue sur notre Site Uber Bagarre Amiens</p>
  <br>
<h3 class="d-flex justify-content-center">Vous vous sentez en danger ? Vous êtes victime de harcèlement ou de menaces ? Uber Bagarre est là pour vous aider.</h3>
</div>
</div>
{% endblock %}
