@font-face {
  font-family: "Kanit";
  src: url("../fonts/Kanit/Kanit-Black-15215fc1cc9fd9e88e1fc1f40a7966e9.ttf");
}
@font-face {
  font-family: "Kanit";
  src: url("../fonts/Kanit/Kanit-BlackItalic-9dde45e54510bf0caf59143b7bfd0e72.ttf");
}
@font-face {
  font-family: "Kanit";
  src: url("../fonts/Kanit/Kanit-Bold-93bc2c227d42ae9f51916f35d1949ef2.ttf");
}
@font-face {
  font-family: "Kanit";
  src: url("../fonts/Kanit/Kanit-BoldItalic-f78cfa34a9ff79e15eeba63b8890cae7.ttf");
}
@font-face {
  font-family: "Kanit";
  src: url("../fonts/Kanit/Kanit-ExtraBold-8cf0b3d8a47bbc854931d4c75ee52307.ttf");
}
@font-face {
  font-family: "Kanit";
  src: url("../fonts/Kanit/Kanit-ExtraBoldItalic-6d1b01c851c7d0360dcc5cee88b715ba.ttf");
}
@font-face {
  font-family: "Kanit";
  src: url("../fonts/Kanit/Kanit-ExtraLight-d731f4205127aa986e603ad607685a06.ttf");
}
@font-face {
  font-family: "Kanit";
  src: url("../fonts/Kanit/Kanit-ExtraLightItalic-6b9ee470e660144d8a4d235e8c5b55c4.ttf");
}
@font-face {
  font-family: "Kanit";
  src: url("../fonts/Kanit/Kanit-Italic-33aa9e12507cdddc55b47218dc0172ec.ttf");
}
@font-face {
  font-family: "Kanit";
  src: url("../fonts/Kanit/Kanit-Light-b8a78cee38197d6ae4b43a069ff7d785.ttf");
}
@font-face {
  font-family: "Kanit";
  src: url("../fonts/Kanit/Kanit-LightItalic-caf9c36ef35217e22378f1a8b893f06a.ttf");
}
